page-teammatch {
    .teammatch {
        background: rgb(233, 86, 28);
      }
    
    .vs{
        background: rgb(233, 86, 28);
        margin-top: 50%;
        size: cover;
    }

    .bench{
      
        background: rgb(233, 28, 28);
    }

    .thisThing{
       width: 50px; 
    }
}
